@{
    //KIG EFT%ER COOKIE
    HttpCookie cookie = Request.Cookies.Get("Email");
    string email = cookie.Value;
    ViewBag.Title = "Profil";
    DataHandler DH = new DataHandler();
    Profil brugerprofil = DH.GetProfil(email);

    bool edit = true;
}

<div class="profile-container">
    <div class="profile-personinfo-container">
        <p>Navn</p>
        <p class="rediger">@brugerprofil.Navn</p>
        <button type="button" onclick="Prompt()">Rediger Oplysninger</button>
        @* Indsæt navn *@
    </div>
    <div class="profile-personinfo-container">
        <p>Alder</p>
        <p>@brugerprofil.Alder</p>
        @* Indsæt navn *@
    </div>
</div>

<div class="profile-container">
    <div class="profile-personinfo-container">
        <p>Telefonnummer</p>
        <p>@brugerprofil.Tlf</p>
        @* Indsæt navn *@
    </div>
    <div class="profile-personinfo-container">
        <p>Email</p>
        <p>@brugerprofil.Email</p>
        @* Indsæt navn *@
    </div>
</div>

<div class="profile-container">
    <div class="profile-personinfo-container">
        <p>Område</p>
        <p>@brugerprofil.Område</p>
        @* Indsæt navn *@
    </div>
</div>

<div class="profile-container">
    <div class="profile-personinfo-container">
        <p>Bio</p>
        <p>@brugerprofil.Bio</p>
        @* Indsæt navn *@
    </div>
</div>

<button type="button" onclick="@edit = false">Rediger Oplysninger</button>

<div class="profile-container">
        <div class="profile-personinfo-container">
            <p>Kommentarer</p>
            <p>Holdkæft hvor er han bare dygtig til de børn der, 10/10</p>
        </div>
    </div>
