@{
    //KIG EFTER COOKIE
    HttpCookie cookie = Request.Cookies.Get("Email");
    string email = cookie.Value;
    ViewBag.Title = "Profil";
    DataHandler DH = new DataHandler();
    Profil brugerprofil = DH.GetProfil(email);
}


<div class="profile-info-container">
    <div class="info-field">
        <p>Navn</p>
        <p>@brugerprofil.Navn</p>
    </div>

    <div class="info-field">
        <p>Efternavn</p>
        <p>@brugerprofil.Efternavn</p>
    </div>
    <div class="info-field">
        <p>Telefonnummer</p>
        <p>@brugerprofil.Tlf</p>
    </div>
    <div class="info-field">
        <p>Email</p>
        <p>@brugerprofil.Email</p>
    </div>
    <div class="info-field">
        <p>Område</p>
        <p>@brugerprofil.Område</p>
    </div>
    <div class="info-field">
        <p>Alder</p>
        <p>@brugerprofil.Alder år</p>
    </div>
    <div class="info-field">
        <p>Bio</p>
        <p>@brugerprofil.Bio</p>
    </div>

    <a class="btn-rediger-profil" href="redigerprofil">Rediger profil</a>
</div>


