@{
    //KIG EFTER COOKIE
    HttpCookie cookie = Request.Cookies.Get("Email");
    string email = cookie.Value;
    ViewBag.Title = "Profil";
    DataHandler DH = new DataHandler();
    Profil brugerprofil = DH.GetProfil(email);
}

<form action="/home/gemprofil" method="post">
    <div class="profile-container">
        <div class="profile-personinfo-container">
            <p>Navn</p>
            <input type="text" value="@brugerprofil.Navn" name="fnavn">

        </div>
        <div class="profile-personinfo-container">
            <p>Efternavn</p>
            <input type="text" value="@brugerprofil.Efternavn" name="enavn">

        </div>
    </div>

    <div class="profile-container">
        <div class="profile-personinfo-container">
            <p>Telefonnummer</p>
            <input type="text" value="@brugerprofil.Tlf" name="tlf">

        </div>
        <div class="profile-personinfo-container">
            <p>Email</p>
            <input type="text" value="@brugerprofil.Email" name="email" disabled>
        </div>
    </div>

    <div class="profile-container">
        <div class="profile-personinfo-container">
            <p>Område</p>
            <input type="text" value="@brugerprofil.Område" name="område">

        </div>
                <div class="profile-personinfo-container">
            <p>Alder</p>
            <input type="text" value="@brugerprofil.Alder" name="alder">

        </div>
    </div>

    <div class="profile-container">
        <div class="profile-personinfo-container">
            <p>Bio</p>
            <input type="text" value="@brugerprofil.Bio" name="bio">

        </div>
    </div>

    <div class="profile-container">
        <div class="profile-personinfo-container">
            <p>Kommentarer</p>
            <p>Holdkæft hvor er han bare dygtig til de børn der, 10/10</p>
        </div>
    </div>
    <button type="submit">Gem</button>
</form>
