@{
    //KIG EFTER COOKIE
    HttpCookie cookie = Request.Cookies.Get("Email");
    string email = cookie.Value;
    ViewBag.Title = "Profil";
    DataHandler DH = new DataHandler();
    Profil brugerprofil = DH.GetProfil(email);
}

<form class="profile-info-container" action="/hjem/gemprofil" method="post">
    <div class="info-field">
        <p>Navn</p>
        <input type="text" value="@brugerprofil.Navn" name="fnavn">
    </div>

    <div class="info-field">
        <p>Efternavn</p>
        <input type="text" value="@brugerprofil.Efternavn" name="enavn">
    </div>
    <div class="info-field">
        <p>Telefonnummer</p>
        <input id="inputTlf" type="text" value="@brugerprofil.Tlf" name="tlf" onchange="inputTlfHandler()">
    </div>
    <div class="info-field">
        <p>Email</p>
        <input type="email" value="@brugerprofil.Email" name="email" readonly>
    </div>
    <div class="info-field">
        <p>Område</p>
        <input type="number" value="@brugerprofil.Område" name="område">
    </div>
    <div class="info-field">
        <p>Alder</p>
        <input type="number" value="@brugerprofil.Alder" name="alder">
    </div>
    <div class="info-field">
        <p>Bio</p>
        <input type="text" value="@brugerprofil.Bio" name="bio">
    </div>

    <input class="btn-rediger-profil" type="submit" value="Gem" />
</form>

<script>
    //fejlhåndtering af inputfelt til telefonnumre
    var inputTlf = document.getElementById("inputTlf");
    const numberLength = 8;

    const checkPhonenumber = (number) => {
        //et telefonnummer skal være på 8 tal
        if (number.length != numberLength) {
            return false;
        } else {
            //isNaN returnerer true,
            //hvis der er bogstaver i en string
            if (!isNaN(number)) {
                return true;
            } else {
                return false;
            }
        }
    }

    //tilknyttes elementets event: onchange
    const inputTlfHandler = () => {
        if (!checkPhonenumber(inputTlf.value)) {
            inputTlf.value = "";
            alert("Telefonnummer er ikke gyldigt");
        } else {
            return;
        }
    }
</script>